<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div class="menu">
		<h1 class="title">Studio Cocchi</h1>
		<a href="#" class="page">Home</a>
		<a href="#" class="page">Modulistica</a>
		<a href="#" class="page">Contatti</a>
	</div>
	<div class="container">
		<div class="introduction">
			<div class="first-column">
				<p class="catchy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="image">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="second-column">
				<p class="explanation">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="image">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="image">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
		<div class="services">
			<p class="services">Servizi che forniamo</p>
			<div class="serice-list">
				<p class="service">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="service">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="service">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
	</div>
</body>
</html>